@model List<Customer>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Ciudad</th>
            <th>Provincia/Estado</th>
            <th>País/Región</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.FirstName @cliente.LastName</td>
                <td>@cliente.AddressLine1 @cliente.AddressLine2</td>
                <td>@cliente.City</td>
                <td>@cliente.StateProvince</td>
                <td>@cliente.CountryRegion</td>
            </tr>
        }
    </tbody>
</table>
